.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgba(245, 245, 245, 0.872);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 55vh;

    .register-title {
      margin: 0;
      align-self: center;
      margin-bottom: 2rem;

      font-size: 2.5rem;
    }

    .form-label {
      display: none;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: center;
      height: 5rem;

      .message-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.5rem;
      }
      .input-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .check-div {
          width: 3rem;
          position: absolute;
          .check {
            font-size: 1.5rem;
            width: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #4ec921;
          }
          .cross {
            font-size: 1.5rem;
            width: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #f70000;
          }
        }

        input {
          border-radius: 0.55rem;
          height: 2.5rem;
          width: 18rem;
          padding: 0.5rem;
          font-size: 1rem;
          background-color: gainsboro;
          border: none;
          outline: none;
        }
      }
    }

    .button-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 4rem;
      button {
        font-size: 1rem;
        border-radius: 1.5rem;
        border: none;
        width: 9rem;
        height: 2.5rem;
        align-self: center;
        margin-top: 1rem;
        cursor: pointer;
      }
      .button:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
