.main-div {
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 55vh;

    .register-title {
      margin: 0;
      align-self: center;
      margin-bottom: 0.9rem;
    }

    .form-label {
      display: none;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: center;
      height: 5rem;

      .message-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.5rem;
      }
      .input-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .check-div {
          width: 3rem;
          position: absolute;

          .check {
            font-size: 1.5rem;
            width: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #4ec921;
          }
          .cross {
            font-size: 1.5rem;
            width: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #f70000;
          }
        }

        input {
          border-radius: 0.5rem;
          height: 0.7rem;
          width: 15rem;
          padding: 0.8rem;
          font-size: 1rem;
        }
      }
    }

    .button-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      button {
        font-size: 1rem;
        border-radius: 1.5rem;
        border: none;
        width: 9rem;
        height: 2.5rem;
        align-self: center;
        margin-top: 1rem;
        cursor: pointer;
      }
      .button:hover {
        background-color: #4ec921;
        color: white;
      }
    }
  }
}
